#banner-cambio-uno-mismo {
  background-image: url("../images/03/DP03.jpg");
  background-position: center center;
  background-size: cover;
  box-shadow: 0 0.25em 0.5em 0 rgba(0, 0, 0, 0.25);
  min-height: 95vh;
  position: relative;
}

.video-container {
  z-index: 100;
  position: absolute;
  top: 10%;
  left: 20%;
}

.container-uno-mismo {
  margin-left: 10%;
  padding-top: 10%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  .title {
    line-height: 50px;
    .first {
      font-size: 30px;
      font-weight: 600;
    }
    color: #da1c40;
    font-size: 50px;
    font-weight: 600;
    font-family: sans-serif;
  }

  .parrafo {
    font-style: italic;
    margin-top: 100px;
    line-height: 20px; /* 4px +12px + 4px */
    color: black;
    max-width: 420px;
    strong {
      font-weight: bold;
      color: black;
    }
    span {
      color: #da1c40;
      font-size: 30px;
      font-weight: 500;
    }
  }

  .ver-video {
    display: flex;
    text-align: center;
    color: #da1c40;
    .title-video {
      font-size: 30px;
      font-weight: 600;
      font-family: sans-serif;
      height: 100px;
      line-height: 100px;
      text-align: center;
    }
  }
}
